# Project files
node_modules/
dist/
.env
.vite/
.DS_Store
*.log
.replit
.history/

# Safety net: Ignore system and browser folders if git is accidentally run in the home directory
AppData/
Local Settings/
Application Data/
Cookies/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Saved Games/
Searches/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/